
<!-- carousel -->

<div id = "homecarousel" class="carousel slide">
	<ol class = "carousel-indicators">
		<li data-target = "#homecarousel" data-slide-to = "0" class = "active"></li>
		<li data-target = "#homecarousel" data-slide-to = "1"></li>
		<li data-target = "#homecarousel" data-slide-to = "2"></li>
	</ol>
<div class = "carousel-inner">
 <div class = "item active">
  <%=image_tag "misc-stuff.jpg" %>
   <div class="carousel-caption">
   	 <h3>Quality should exist everywhere.</h3>
	 <p>Both in personal life and business.</p>
    </div>
  </div>

<div class = "item">
	 <!--<img src = "#" alt = "..." class = "img-responsive">-->
 <%=image_tag "guitar.jpg" %>
 <div class="carousel-caption">
	<h3>A quality beat leads to success.</h3>
	<p>It's not just culture, it's a quality culture.</p>
  </div>
 </div>
	
<div class = "item">
 <%=image_tag "wheels.jpg" %>
 <div class="carousel-caption">
	 <h3>Reduce manual testing.</h3>
	 <p>Save time, money and gain confidence.</p>
   </div> 
  </div>
 </div>

	<a class = "carousel-control left" href = "#homecarousel" data-slide = "prev"><span class = "icon-prev"></span></a>
	<a class = "carousel-control right" href = "#homecarousel" data-slide = "next"><span class = "icon-next"></span></a>
</div>

<p>
<u>Q</u>uality <u>A</u>ssurance <u>A</u>nalyst <u>E</u>ngineer 
</p>

<p class="qaevangelist-h2-text">
	<u>Quality:</u> Character with respect to fineness or grade of excellence
<br>
	<u>Assurance:</u> A positive declaration intended to give confidence
<br>
	<u>Analyst:</u> A person who analyzes and designs or who is skilled in analysis
<br>
	<u>Engineer:</u> A logical thinker or problem solver; an architect, developer of software
</p>

