<section> <!--Add a class under 'section' in home_page.css if u want to add a background image i.e. "bg-1" example in css under section -->
<div class="home-text-bg">
 <h1 class="website-nav-margin">Need a website? [Site is under construction, but our services are available]</h1>
  <p class="lead">We design and develop websites.  Whether it's a marketing site, or web app, we've got you covered.</p>
</div>
</section>