
<!--Coding video-->

 <div class="container">
  <div class="text-bg-over-video">
   <h1 class="qaconsulting-nav-margin">QA Consulting [Site is under construction, but our services are available]</h1>
    <div class="content" style="top: 255px; -webkit-transform: translate(0px, 0px); opacity: 1;">
	 <h2 style="opacity: 1; padding-top: 0px;"></h2>
	  <p class="lead" style="opacity: 1; padding-top: 0px;">
		<span>What's the quality of your requirements?  What's the quality of your code?</span></p>
	</div>
  </div>
</div> <!--home-text-bg close-->

<div class="video-texture " style="opacity: 1;"> 
 </div>
  <div class="mobile-video-image" style="background-image: url(http://themenectar.com/demo/salient/wp-content/uploads/2013/09/code-design-bg.jpg)">   
   </div>
<!-- <div class="video-wrap" style="width: 1284px; height: 582px;"> -->
<div class="video-wrap" style="width: 100%;">
<!--<video class="slider-video" width="1700" height="700" preload="auto" loop="" autoplay="" style="visibility: visible; width: 1284px; height: 724px;">-->	
<video class="slider-video" width="100%" preload="auto" loop="" autoplay="" style="visibility: visible; width: 100%;"><source type="video/webm" src="http://themenectar.com/demo/salient/wp-content/uploads/2013/09/coding.webm"><source type="video/mp4" src="http://themenectar.com/demo/salient/wp-content/uploads/2013/09/coding.mp4"></video>
  </div>
 </div>
</div>

