<section> <!--Add a class under 'section' in home_page.css if u want to add a background image i.e. "bg-1" example in css under section -->
<div class="home-text-bg">
 <h1 class="security-nav-margin">Security [Site is under construction, but our services are available]</h1>
  <p class="lead">Security testing - SQL Injection, Cross site scripting, OWASP</p>
</div>
</section>