
.qatondemand-nav-margin{
   padding-top: 28px;
}

/* Pricing background banner (yellow bg color: FFFFCC */

.qat-h1-text {
    font-size: 5em;
    letter-spacing: -2px;
    text-align: left;
    margin-left: 10px;
    color: #000000;
    font-family: copperplate;
    text-shadow: 0.1em 0.1em 0.2em #888888
}

.qat-pricing-banner {
    padding: 4em;
	margin-bottom: 100px;
	margin-top: 60px;
	padding-left: 10px;
	padding-top: 0px;
}

.qat-iron-banner{
	background: #d8d8d8;
}

.qat-gold-banner{
	background: #CCFF66;
}
.qat-diamond-banner{
	background: #99FFFF;
}
.qat-custom-banner{
	background: #CC6666;
}

.qat-marketing-plan-shadow{
    box-shadow: 0px 0px 35px #888888;
}

.qat-banner-h2-text-border{
	border:2px solid #F0F0F0;
	border-radius: 4px;
	box-shadow: 0px 0px 15px #888888;
	background-color:rgba(205,0,0,0.2);
	padding-left: 17px;
}

.qat-home-h2-text-border{
	border:2px solid #F0F0F0;
	border-radius: 4px;
	box-shadow: 0px 0px 15px #888888;
	background-color: #FFFFCC;
	padding-left: 17px;
	margin-right: 135px;
}