
<section> <!--Add a class under 'section' in home_page.css if u want to add a background image i.e. "bg-1" example in css under section -->
	<div class="home-text-bg">
	 <h1 class="qatondemand-nav-margin">QAT On Demand [Site is under construction, but our services are available]</h1>
	  <p class="lead">First, contact us and let's schedule a time to meet and discuss the package that works best for you.</p>
	</div>


<div>
  <h1>Iron Package:</h1>
</div>
<div>
  <h1>Gold Package:</h1>
</div>
<div>
 <h1>Custom Package:</h1>
</div>


</section>